table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
table th, table td {
    padding: 6px 10px;
    border: 1px solid #ddd;
    line-height: 1.2;
}
table tr {
    height: auto;
}
table th {
    background-color: #f2f2f2;
}
table tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
table tr:hover {
    background-color: #f1f1f1;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #45a049;
}
button:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.gene-header .dot {
    color: #aaa;  /* Light gray for subtlety */
    margin-right: 5px;
    font-size: 0.8em;
}

.metrics-container {
    display: flex;
    align-items: center;
    gap: 20px;  /* Dynamic spacing between items */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f9;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.metric {
    font-size: 1.5em;
    font-weight: bold;
    color: #4CAF50;
    padding: 10px;
    background-color: #e9f7ec;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.metric .icon {
    margin-right: 10px;
    font-size: 1.2em;
}

.metric.food {
    color: #FF9800;
    background-color: #fff3e0;
}

.end-turn-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: auto;
    text-align: center;
}

.end-turn-button.disabled {
    background-color: #6c757d;  /* Greyed out color */
    cursor: not-allowed;
}